/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}
.legend {
	line-height: 18px;
	color: #333333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	padding: 6px 8px;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

#legend-title {
	position: absolute;
	font-size: 24px;
	font-weight: bold;
	line-height: 18px;

	
}

#avg-quakes {
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	
}
#common-quakes {
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
}

#major-quakes {
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	
}